
<h2 class="text-center">Clinician: <strong><%= @clinician.name %></strong></h3>
<div class="well col-xs-8 col-xs-offset-2">
  
  <h4><strong>Email: <%= @clinician.email %></strong></h4>
  <h4><strong>Specialty:</strong></h4>
  <%= simple_format(@clinician.specialty) %>
  <div class="clinician-action">
    <%= link_to "Back to list", clinicians_path, class: "btn btn-xs btn-success" %>
 </div>
</div>
