<h3><%= @clinician.name %></h3>
<ul id="clinician_menu">

</ul>
<ul id="email">
  <p>Email: <%= @clinician.email %></p>
</ul>

</ul>
<ul id="specialty">
  <p>Specialty: <%= @clinician.specialty %></p>
</ul>


<%= link_to "Back to case list", cases_path %>