%h2 Patient Name: #{@case.name}

%ul#case_menu
  %li Clinical Summary
  %li Files
  %li Imaging
  %li Notes 


%ul#details
    - if !@case.medical_record_num.empty? or !@case.medical_record_num.nil?
    %li
        Medical Record #: @case.medical_record_num
        
    - if !@case.age? or !@case.age.nil?
    %li
        Age: @case.age
        
    - if !@case.gender.empty? or !@case.gender.nil?
    %li
        Gender: @case.gender

    %li
        Diagnosis: @case.diagnosis

    - if !@case.disease_characteristics.empty? or !@case.disease_characteristics.nil?
    %li
        Disease Characteristics: @case.disease_characteristics
    
    - if !@case.treatment_history.empty? or !@case.treatment_history.nil?
    %li
        Treatment History: @case.treatment_history
        
    - if !@case.past_medical_history.empty? or !@case.past_medical_history.nil?
    %li
        Past Medical History: @case.past_medical_history
        
