<div class="jumbotron text-center">
  <h1>Trinity Health</h1>
  <h3>A SaaS app that saves lives.</h3>
  <%= link_to "Visit our Github repo", "https://github.com/ProvidenceXz/Trinity-Health", class: "btn btn-primary btn-lg" %>
</div>