@import "bootstrap-sprockets";
@import "bootstrap";

footer {
  margin-top: 50px;
  padding-top: 5px;
  border-top: 1px solid #eaeaea;
  color: #777;
}

footer small {
  float: left;
}

footer ul {
  float: right;
  list-style: none;
}

footer ul li {
  float: left;
  margin-left: 15px;
}

.case-name {
  font-weight: bold;
  font-size: 1.2em;
}

.case-age {
  font-weight: bold;
  font-size: 1.2em;
}

.case-gender {
  font-weight: bold;
  font-size: 1.2em;
}

.case-diagnosis {
  border-top: 1px solid #eaeaea;
  padding-top: 15px;
  padding-bottom: 15px;
}