<div class="container">
  <footer>
    <small>
      Copyright &copy; <a href="https://github.com/ProvidenceXz/Trinity-Health">Trinity Health Team</a>
    </small>
    <nav>
      <ul>
        <li><%= link_to "About", "#" %></li>
        <li><%= link_to "Contact", "#" %></li>
        <li><%= link_to "CS169", "#" %></li>
      </ul>
    </nav>
  </footer>
</div><!-- /.container -->